
body {

  background-image: url(FRMF_Logo-500.png);
  background-repeat: no-repeat;
  background-size: cover;

    margin: 0;
    font-family: Arial, sans-serif;
}


nav {background-color: #0c184e;}

nav ul {
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
text-align: center;
}


nav li {
   display: inline-block;
    float: none;
}


nav a {

    
    display: inline-block;
    color: white;
   padding: 14px 20px;
    text-decoration: none;
    
}


nav a:hover {
    background-color: #555;
}
.newstitle {
    font-family: initial;
    text-align: center;
text-transform: uppercase;
text-shadow: 2px 2px; 

}

.winning {
font-family: fantasy;
text-align: center;
 font-size: 18px;
margin-bottom: 20px;





   
}
