
body {

  background-image: url("OIP\ \(1\).webp");
  background-repeat: no-repeat;
  background-size: cover;

    margin: 0;
    font-family: Arial, sans-serif;
}


nav {
    background-color: #333;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav li {
    float: left;
}


nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


nav a:hover {
    background-color: #555;
}
