
body {

  background-image: url("OIP\ \(1\).webp");
  background-repeat: no-repeat;
  background-size: cover;

    margin: 0;
    font-family: Arial, sans-serif;
}


nav {background-color: #0c184e;}

nav ul {
list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
text-align: center;
}


nav li {
   display: inline-block;
    float: none;
}


nav a {

    
    display: inline-block;
    color: white;
   padding: 14px 20px;
    text-decoration: none;
    
}


nav a:hover {
    background-color: #555;
}
