.navbar ul{
    list-style-type: none;
    background-color: rgb(56, 56, 143);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbare a{
    color: white
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(85, 81, 81);
}
.navbar li{
    float:left
}